.container {
    display: flex;
    height: 100vh;
}

.clock-container {
    width: calc(100vw - 250px);
    height: 100%;
}

.clock-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.watch {
    display: none;
}

.watch.active {
    display: flex;
}

/* CLOCK */
.clock {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    border-radius: var(--border-radius-xl);
}

.clock .time {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.clock .time h2 {
    font-size: 256px;
    letter-spacing: -10px;
    font-family: var(--secondary-font);
}

.clock .time span {
    color: var(--secondary-color);
    font-size: 96px;
    font-weight: 100;
    letter-spacing: -10px;
    position: relative;
    bottom: 100px;
    font-family: var(--secondary-font);
    width: 100px;
    height: 100px;
}

.clock .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;
    right: 40px;
}

.clock .date h2 {
    font-size: 30px;
    letter-spacing: 12px;
    font-weight: 400;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.clock .date span {
    font-size: 24px;
    color: var(--secondary-color);
}

/* ALARM */
.alarm {
    height: 100vh;
    padding: var(--spacing-md);
}

.alarm-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.alarm-title p {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    letter-spacing: 5px;
}

.alarm-title h2 {
    font-size: 96px;
    font-family: var(--secondary-font);
    font-weight: bold;
    letter-spacing: -10px;
    opacity: 0.9;
}

.alarm-title .buttons {
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-sm);
    margin-top: 40px;

    .input-box {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);

        input {
            width: 80px;
            height: 80px;
            border-radius: var(--border-radius-md);
            border: none;
            background: #1F2020;
            color: var(--secondary-color);
            font-size: 24px;
            text-align: center;
            font-family: var(--secondary-font);
            outline: none;
        }
    }
}

.alarm-title .buttons button {
    background-color: var(--bg-alarm-button);
    color: var(--secondary-color);
    border: none;
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: var(--transition-default);
}

.alarm-title .buttons button:hover {
    opacity: 0.8;
}

.alarm-title .buttons i {
    font-size: 24px;
}

.alarm-time-box {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-xl);
}

.alarm-time-box h3 {
    font-size: 256px;
    font-family: var(--secondary-font);
    font-weight: 100;
    letter-spacing: -10px;
}

.alarm-time-box .alarm-time {
    color: var(--secondary-color);
    opacity: 0.9;
    font-size: 200px;
    font-weight: bold;
}

.alarm-time-box .span-seconds {
    font-family: var(--secondary-font);
    opacity: 0.8;
    letter-spacing: 1px;
}

.alarms-card {
    margin-top: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    padding: var(--spacing-md);
    height: 650px;
    background: var(--bg-color);
    border-radius: var(--border-radius-lg);
    width: 500px;
}

.alarms-card h3 {
    margin-bottom: 40px;
    opacity: 0.8;
    font-weight: 200;
}

.alarm-card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacing-md) var(--spacing-sm);
    border-radius: var(--border-radius-lg);
    background: var(--bg-card);
    cursor: pointer;
    transition: var(--transition-default);
}

.alarm-card:hover {
    background: rgba(31, 32, 32, 0.8);
    transform: translateY(-2px);
}

.alarm-card .alarm-minute {
    font-size: 16px;
    font-family: var(--secondary-font);
    opacity: 0.9;
    color: var(--secondary-color);
}

.alarm-card .alarm-name {
    font-size: 24px;
    font-family: var(--secondary-font);
}

/* TIMER */
.timer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    gap: var(--spacing-lg);
}

.timer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 300px);
}

.timer-time {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.timer-time p {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.timer-time p span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: inline-block;
    margin-right: 7px;
}

.timer-time h2 {
    font-size: 240px;
    letter-spacing: -7px;
    font-family: var(--secondary-font);
    width: 950px;
    text-align: center;
}

.timer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
}

.timer-buttons button {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    border-radius: var(--border-radius-sm);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition-default);
}

.timer-buttons button i {
    font-size: 16px;
    margin-right: 5px;
}

.timer-buttons .btn-start,
.timer-buttons .btn-pause {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: var(--primary-color);
}

.timer-buttons .btn-start:hover {
    background: rgba(0, 229, 255, 0.1);
    color: var(--secondary-color);
}

.timer-buttons .btn-pause:hover {
    background: rgba(0, 229, 255, 0.1);
}

.timer-buttons .btn-reset {
    background: transparent;
    border: 1px solid rgba(255, 0, 0, 0.514);
    color: rgba(255, 0, 0);
}

.timer-buttons .btn-reset:hover {
    background: rgba(255, 0, 0, 0.1);
}

/* WORLD CLOCK */
.world {
    flex-direction: column;
    padding: 18px;
    gap: 20px;
}

.world .title {
    display: flex;
    flex-direction: column;
}

.world-title {
    font-size: 128px;
}

.world-title span {
    color: var(--secondary-color);
    text-shadow: 0 0 2px var(--secondary-color);
}

.world-subtitle {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 2px;
}

.world-subtitle span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: inline-block;
    margin-right: 6px;
}

.box-world {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.city-name {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 300px);
    padding: var(--spacing-md);
    background-color: var(--bg-color);
    border-radius: var(--border-radius-sm);
}

.city-info {
    display: flex;
    justify-content: space-between;
}

.city-info .info-name h3 {
    font-size: 56px;
    font-family: var(--secondary-font);
    margin-bottom: -5px;
    color: var(--secondary-color);
}

.city-info .info-name div {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    letter-spacing: 2px;
}

.city-info .info-name div p {
    font-weight: bold;
}

.city-info .world-flag i {
    font-size: 256px;
    color: var(--tertiary-color);
    margin-right: 20px;
}

.city-info2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.city-time {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;
    top: 45px;
}

.city-time h3 {
    font-size: 200px;
    letter-spacing: -10px;
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--secondary-font);
}

.city-time span {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 58px;
}

.city-temp {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;
    top: 41px;
}

.city-temp h3 {
    font-size: 96px;
    letter-spacing: -10px;
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--secondary-font);
}

.city-temp span {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.modal-input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
}

.modal-input input {
    width: 100%;
    padding: 12px 20px;
    border-radius: var(--border-radius-sm);
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: var(--secondary-color);
    font-size: 16px;
    outline: none;
}

.modal-input button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--secondary-color);
    transition: var(--transition-default);
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

.modal-input button:hover {
    background-color: var(--tertiary-color);
}